@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: green;
    background-image: url("images/is.jpg");
}
.container{
    margin: 0px 2% 0 2%;
    padding: 10px;
}
.header{
    height: 400px;
    justify-content: center;
    align-items: center;
}
.nav{
    background-color:blue;
    align-items: center;
    overflow: hidden;
    position: sticky;
    top: 0;
    font-size: 20px;
    z-index: 2;
    display: flex;
    height: 60px;
    
}
.menu{
    list-style: none;
    padding: 30px;
    margin: 0px 5% 0 5%;
    float: left;
    color:rgb(115, 29, 141);
}
.menu li{
    display: inline;
    margin-right: 20px;
}
.cart{
    color: green;
    left: 10%;
    display: flex;
    padding: 10px;
}
.cart img{
    width: 50px;
    border-radius: 30px; 
}
.cart span{
    font-size: 10px;
    font-weight: 700;
    margin-right: 5px;
    /*background-color: yellow;*/
    /*padding: 3px 6px 3px 6px;*/
    /*border-radius: 50%;*/
    /*justify-content: center;*/
    color: blue;
}
.container{
    line-height:10px ;
    font-size: 15px;
    text-align: center;
    justify-items: center;
    line-height: 20px;
}
.container h1{
    margin: 20px;
    padding-top: 30px;
    font-size: 20px;
    
}
.header .slider{
    display: block;
    width: 100%;
    height: 70vh;
    background-color: green;
    overflow: hidden;
    position: absolute;
  
}
.slider>*{
    position: absolute;
    display: block;
    width: 100%;
    height: 70vh;
    background-color: rgb(119, 131, 201); 
    animation: slide 12s infinite;
    overflow: hidden;
}
.slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url('/images/cart.jpg');
    background-size: cover;
    background-position: center;
}
.slide:nth-child(2){
    animation-delay: 3s;
    background-image: url('/images/cart.jpg');
    background-size: cover;
    background-position: center;
}
.slide:nth-child(3){
    animation-delay: 7s;
    background-image: url('/images/cart.jpg');
    background-size: cover;
    background-position: center;
}
@keyframes slide {
    0%      {left: 100%; width: 100%;}
    5%      {left: 0%;}
    25%     {left: 0%;}
    30%     {left: -100%;width: 100%;}
    30.00001%{left: -100%;width: 0%;}
    100%     {left: 100%;width: 0%;}
}
/* card style */
.products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/*.card {
    /* Add shadows to create the "card" effect */
 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    border-radius: 4px;
    margin:20px;
    background-color: rgb(255, 255, 255);
  }*/
  .card h1{
      font-size: 16px;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(243, 240, 240, 0.4);
  }
  .card button{
    background-color:yellowgreen;
    border: 1px solid yellowgreen;
    border-radius: 20px;
    color: blue;
    margin: 0px;
    height: 30px;
    width: 50%;
    bottom: 5px;
}
.card button:hover{
    border: 1px solid green;
    background-color: green;
    color: blue;
}
  /* product image */
  .product-img{
    overflow: hidden;
  }
  .product-img img{
      border-radius: 1px 1px 0px 0px;
      transition: transform .5s ease;
  }
  .product-img img:hover{
      transform: scale(1.5);
  }
  
  /* Add some padding inside the card container */
  .prod {
    padding: 2px 16px;
  }

  #shopping-cart{
      align-items: center;
      justify-content: center;
  }
  #h1{
    font-size: 20px;
    color: blue;
  }
  #name{
    font-size: 20px;
    color: indigo;
  }
  table{
      border-collapse: collapse;
      width: 50%;
      height: 30px;
      left: 50%;
      font-size: 16px;
  }
  th{
      background-color: skyblue;
      color: lightseagreen;
  }
  td,th{
      border:1px solid rgba(27, 127, 134, 0);
      height: 30px;
  }
  table td, table th {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  td img{
      width: 60px;
      border-radius: 4px;
  }

  /* Mega menu starts here  */
  * {
    box-sizing: border-box;
  }
  
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: blue;
    font: inherit;
    margin: 0;
  }
  .btn{
    float: left;
    overflow: hidden;
    border: none; 
    padding: 14px 16px;
    background-color: blue;
    font: inherit;
    cursor: pointer;
    color: white;
  }
  a{
      text-decoration: none;
      color: white;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: yellow;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: yellowgreen;
    height: 580px;
  }
  
  .column a {
    float: none;
    color: blue;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .column a:hover {
    background-color:yellow;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }
/* Mega menu ends here */

.col-12 {
    width: 100%
    
  }